## ML_Question_4

#### Importing important libraries

In [72]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import warnings
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
warnings.filterwarnings("ignore")
%matplotlib inline

#### Read csv data as pandas DataFrame

In [43]:
df = pd.read_csv("online_shoppers_intention.csv")

#### checking top rows of data

In [44]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

#### checking number of rows and column in data

In [45]:
df.shape

(12330, 18)

#### Checking name of the features in dataset

In [46]:
df.columns

Index(['Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay', 'Month',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'VisitorType',
       'Weekend', 'Revenue'],
      dtype='object')

#### Checking datatypes of dataset features

In [47]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [49]:
df=df.drop(['Month','VisitorType'],axis=1)

#### Checking null in dataset

In [50]:
df.isnull().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
Weekend                    0
Revenue                    0
dtype: int64

#### Converting datatype of features

In [65]:
df['Revenue'] = df['Revenue'].astype(str)
df['Weekend'] = df['Weekend'].astype(int)
df['Informational_Duration'] = df['Informational_Duration'].astype(int)

In [58]:
label_encoder = LabelEncoder()
df['Revenue'] = label_encoder.fit_transform(df['Revenue'])

In [66]:
df['Informational_Duration'].nunique()

597

## Model Evaluation

#### Splitting input features and target columns

In [67]:
input_features_for_Weekend = df.drop('Weekend',axis=1)
input_features_for_ID = df.drop('Informational_Duration', axis=1)
target_column_Weekend = df['Weekend']
target_column_ID = df['Informational_Duration']

#### Splitting training and test data

In [68]:
x_train_Weekend, x_test_Weekend, y_train_Weekend, y_test_Weekend = train_test_split(input_features_for_Weekend, target_column_Weekend, test_size=0.33, random_state=10)
x_train_ID, x_test_ID, y_train_ID, y_test_ID = train_test_split(input_features_for_ID, target_column_ID, test_size=0.33, random_state=10)

### RandomForest Ensambling Model for target column Weekend

In [71]:
Rf_model_1=RandomForestClassifier()
Rf_model_1.fit(x_train_Weekend,y_train_Weekend)
y_pred_rf=Rf_model_1.predict(x_test_Weekend)
accuracy_score_rf=accuracy_score(y_test_Weekend, y_pred_rf)
print(f"Accuracy Score of Random Forest model = {accuracy_score_rf*100} %")

Accuracy Score of Random Forest model = 76.80019660850331 %

### RandomForest Ensambling Model for target column Informational Duration

In [69]:
Rf_model_2=RandomForestClassifier()
Rf_model_2.fit(x_train_ID,y_train_ID)
y_pred_rf=Rf_model_2.predict(x_test_ID)
accuracy_score_rf=accuracy_score(y_test_ID, y_pred_rf)
print(f"Accuracy Score of Random Forest model = {accuracy_score_rf*100} %")

Accuracy Score of Random Forest model = 80.46202998279675 %